*{
    font-family: monospace Arial, Helvetica, sans-serif;
}

nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoAulab{
    width: 100px;
    height: 100px;
}

.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.listLink{
    list-style: none;
    display: flex;
}

header{
    background-image: url(./media/background\ header.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
}

.blog{
    color: rgba(243, 232, 17, 0.861);
    font-size: 60px;
}

.imgArticle{
    width: 300px;
}

.containerArticle{
    display: flex;
    width: 60%;
    background-color: rgba(203, 202, 197, 0.861);
}

aside{
    
    text-align: center;
}

main{
    display: flex;
}

.pag2{
    text-align: center;
    color: rgba(243, 232, 17, 0.861);
}

.button{
    color: yellow;
    background-color: black;
    border-radius: 40%;
    cursor: pointer;
}    
   
button:hover{ color: rgb(255, 106, 0);}
li{
    color: yellow;}

.fondopagina{
    
    display: flex;
    justify-content: right;
    
}

.frecciasu{
    width: 50px;
    height: 50px;
    animation-name: Go-Home;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top: 90%;
    position: fixed;
}
@keyframes Go-Home {
    0%{
        transform: translateY(10px);
        }

    100%{
        transform: translateY(0px);
    } 
}    

@media screen and (max-width: 600px){
header{
    max-height: 30vh;
}
body{
    max-width: 100%;
}
.imgArticle{
    max-width: 120px;
    flex-direction: column;
}
.containerArticle{
    max-width: 55%;
    flex-direction: column;
}
aside{
    max-width: 45%;
}
.frecciasu{
    width: 25px;
    height: 25px;
}

}    
@media screen and (min-width: 900px){
    header{
        max-height: 60vh;
    }
    .imgArticle{
        max-width: 80px;
        flex-direction: column;
    }
    .containerArticle{
        max-width: 40;
        flex-direction: column;
    }
    aside{
        max-width: 40%;
    }
    body{
        max-width: 100%;
    }   
}

    





    



    

    





    
    
    

   


    








